
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    
    *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body{
            font-family: "Poppins";
        }

        /* HERO SECTION  */

        :root {
            --primary-color: #f9b008;
        }

        h1 {
            font-size: 5cqmax;
            font-weight: bold;
        }

        .herosection-circle {
            filter: blur(10px);
            -webkit-filter: blur(70px);
            position: absolute;
            right: 200px;
            top: 10px;
            bottom: 0px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #0190f6;
        }

        .outlineheading {
            font-weight: bolder;
            -webkit-text-stroke: 2px rgba(0, 0, 0);
            color: transparent;
        }

        .vide {
            position: absolute;
            right: 100px;
            top: 5%;
            width: 200px;
            height: 200px;
        }

        @media (max-width: 992px) {
            .vide {
                display: none;
            }
        }

        @media (max-width: 1250px) {
            .vide {
                width: 150px;
                height: 150px;
            }
        }
        
        /* HERO SECTION END */

        
        .container1{
            /* width: 100%; */
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 70px;
            /* flex-wrap: wrap; */
        }

        .box1{
            width: 50%;
            display: flex;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 30px;
        }

        .box1 .explore{
            color: #0190f6;
            font-family: "Dancing Script";
            font-weight: bold;
        }
        .box1 h1{
            font-size: 5cqmax;
            font-weight: bold;
        }
        .box1 .welcome{
            font-size: 1cqmax;
            width: 300px;
            /* width: 70%; */
            font-weight: bold;
        }
        .Mper{
            width: 100%;
            display: flex;
            align-items: center;
        }

        .Mper .discover span{
            color: #0190f6;
            font-weight: 700;
            font-family: "Dancing Script";
        }

        .Mper .discover{
            width: 45%;
            font-size: 1.5cqmax;
            margin-left: 10px;
        }
        .Tpercent .percent{
            width: 15%;
            color: #0190f6;
            font-size: 2cqmax;
            text-align: center;
            padding: 5px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-bottom: 2px solid #0190f6;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .Tpercent .percent p{
            font-size: 2cqmax;
        }

        .Tpercent h3{
            font-size: 15px;
        }
        .Tpercent .offer{
            font-size: 10px;
            margin-bottom: 10px;
        }

        .box1 .button1 button{
            color: white;
            background: #ff8800;
            border: none;
            padding: 10px;
            border-radius: 10px;
            width: 150px;
            transition: .5s all ease;

            &:hover{
                color: rgb(255, 255, 255);
                background-color: #f5982d;
            }
        }

        .box1 h1 span{
            color: #ff8800;
            font-family: "Dancing Script";
        }

        .box2 img{
            width: 100%;
        }

        @media only screen and (max-width: 850px){
            .container1{
                flex-direction: column;
            }

            .box1{
                width: 70%;
                margin-left: 0;
            }
        }

        @media only screen and (max-width: 400px){
            .box1 .welcome{
                font-size: 1cqmax;
                width: 40%;
            }
        } 


        /* REVEAL ELEMENTS ON SCROLL  */

        .box1{
            opacity: 0;
            transition: all 1.3s;
            transform: translateX(-20%);
        }
        .show{
            opacity: 1;
            transform: translateX(0);
        }

        .amazing{
            opacity: 0;
            transition: all 2s;
            transform: translateX(-15%);
        }
        .show1{
            opacity: 1;
            transform: translateX(0);
        }

        .button1{
            opacity: 0;
            transition: all 2s;
            transform: translateX(-10%);
        }
        .show2{
            opacity: 1;
            transform: translateX(0);
        }

        .box2{
            opacity: 0;
            transition: all 1s;
            transform: scale(0);
        }
        .show3{
            opacity: 1;
            transform: scale(1);
        }

        /* FOR SECTION 2 ANIMATE  */

        .animate1{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate2{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate3{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate4{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate5{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate6{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate7{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate8{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animate9{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateIcon1{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateIcon2{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateButton{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .animateImage{
            opacity: 0;
            transition: all 1s;
            transform: scale(0);
        }


        .show4{
            opacity: 1;
            transform: translateX(0);
        }

        .show5{
            opacity: 1;
            transform: scale(1);
        }

        /* ACCOMODATION ANIMATE  */

        .acc-anime1{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-anime2{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }


        .acc-img1{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-img2{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-img3{
            opacity: 0;
            transition: all 1s;
            transform: translateY(-20%);
        }

        .acc-anime3{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .acc-anime4{
            opacity: 0;
            transition: all 1.5s;
            transform: translateX(-10%);
        }

        .acc-anime5{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .acc-anime6{
            opacity: 0;
            transition: all 1.5s;
            transform: translateX(-10%);
        }

        .acc-anime7{
            opacity: 0;
            transition: all 1s;
            transform: translateX(-10%);
        }

        .acc-anime8{
            opacity: 0;
            transition: all 1.5s;
            transform: translateX(-10%);
        }

        .acc-anime9{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-anime10{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-anime11{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-anime12{
            opacity: 0;
            transition: all 1.5s;
            transform: translateY(-20%);
        }

        .acc-Accordian{
            opacity: 0;
            transition: all 1s;
            transform: scale(0);
        }

        .show6{
            opacity: 1;
            transform: translateY(0);
        }

        .show7{
            opacity: 1;
            transform: translateX(0);
        }

        .show8{
            opacity: 1;
            transform: scale(1);
        }




        /* NAVBAR CSS  */

        body{
            line-height: 1.5;
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }
        body.hidden-scrolling{
            overflow-y: hidden;
        }
        *{
            margin:0;
            box-sizing: border-box;
        }
        .container-NAV{
            max-width: 100%;
            /* margin:auto; */
        }
        ul{
            list-style: none;
            margin:0;
            padding:0;
        }
        a{
            text-decoration: none;
        }
        /*header*/
        .header{
            /* position: absolute; */
            position: relative;
            width: 100%;
            left:0;
            top:0;
            z-index: 99;
            padding: 15px;
        }
        .header-main{
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            border-radius: 4px;
        }
        .header .logo{
            padding: 0 15px;
        }
        .header .logo a{
            font-size: 30px;
            text-transform: capitalize;
            color: blue;
            font-weight: 600;
        }

        .header .logo a img{
            width: 100px;
        }
        .header .nav-menu{
            padding: 0 15px;
        }
        .header .menu > .menu-item{
            display: inline-block;
            margin-left: 30px;
            position: relative;
        }
        .header .menu > .menu-item > a{
            display: block;
            padding: 12px 0;
            font-size: 16px;
            color: #000000;
            text-transform: capitalize;
            font-weight: bold;
            transition: all 0.3s ease;
        }
        .header .menu > .menu-item > a .plus{
            display: inline-block;
            height: 12px;
            width: 12px;
            position: relative;
            margin-left:5px; 
            pointer-events: none;
        }
        .header .menu > .menu-item > a .plus:before,
        .header .menu > .menu-item > a .plus:after{
            content:'';
            position: absolute;
            box-sizing: border-box;
            left: 50%;
            top:50%;
            background-color: #000000;
            height: 2px;
            width: 100%;
            transform: translate(-50%,-50%);
            transition: all 0.3s ease;
        }
        .header .menu > .menu-item:hover > a .plus:before,
        .header .menu > .menu-item:hover > a .plus:after{
           background-color: blue;
        }
        .header .menu > .menu-item > a .plus:after{
           transform: translate(-50%,-50%) rotate(-90deg);	
        }
        .header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
        .header .menu > .menu-item:hover > a{
            color: blue;
        }
        .header .menu > .menu-item > .sub-menu{
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            width: 220px;
            position: absolute;
            left:0;
            top:100%;
            background-color: #ffffff;
            padding: 10px 0;
            border-top: 3px solid blue;
            transform: translateY(10px);
            transition: all 0.3s ease;
            opacity:0;
            visibility: hidden;
        }
        @media(min-width: 992px){
        .header .menu > .menu-item-has-children:hover > .sub-menu{
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
         }
         .header .menu > .menu-item-has-children:hover > a .plus:after{
            transform: translate(-50%,-50%) rotate(0deg);		
         }
        }
        .header .menu > .menu-item > .sub-menu > .menu-item{
            display: block;
        }
        .header .menu > .menu-item > .sub-menu > .menu-item > a{
            display: block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            color: #000000;
            transition: all 0.3s ease;
            text-transform: capitalize;
            text-decoration: none;
        }
        .header .open-nav-menu{
            height: 34px;
            width: 40px;
            margin-right: 15px;
            display: none;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .header-main .logo a{
            text-decoration: none;
        }

        .menu .menu-item a{
            text-decoration: none;
        }
        .header .open-nav-menu span{
            display: block;
            height: 3px;
            width: 24px;
            background-color: #000000;
            position: relative;
        }
        .header .open-nav-menu span:before,
        .header .open-nav-menu span:after{
            content: '';
            position: absolute;
            left:0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            box-sizing: border-box;
        }
        .header .open-nav-menu span:before{
            top:-7px;
        }
        .header .open-nav-menu span:after{
            top:7px;
        }
        .header .close-nav-menu{
            height: 40px;
            width: 40px;
            background-color: #ffffff;
            margin:0 0 15px 15px;
            cursor: pointer;
            display: none;
            align-items: center;
            justify-content: center;
        }
        .header .close-nav-menu img{
            width: 16px;
        }
        .header .menu-overlay{
            position: fixed;
            z-index: 999;
            background-color: rgba(0,0,0,0.5);
            left:0;
            top:0;
            height: 100%;
            width: 100%;
            visibility: hidden;
            opacity:0;
            transition: all 0.3s ease;
        }
        
        /*home section*/
        /* .home-section{
            width: 100%;
            display: block;
            min-height: 100vh;
            background-image: url('../img/home.jpg');
            background-position: center top;
            background-size: cover;
        } */
        
        
        /* responsive */
        
        @media(max-width: 991px){
            .header .menu-overlay.active{
            visibility: visible;
            opacity: 1;
        }
            .header .nav-menu{
                position: fixed;
                right: -280px;
                visibility: hidden;
                width: 280px;
                height: 100%;
                top:0;
                overflow-y: auto;
                background-color: #222222;
                z-index: 1000;
                padding: 15px 0;
                transition: all 0.5s ease;
            }
            .header .nav-menu.open{
                visibility: visible;
                right: 0px;
            }
            .header .menu > .menu-item{
                display: block;
                margin:0;
            }
            .header .menu > .menu-item-has-children > a{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .header .menu > .menu-item > a{
                color: #ffffff;
                padding: 12px 15px;
                border-bottom: 1px solid #333333;
            }
            .header .menu > .menu-item:first-child > a{
                border-top: 1px solid #333333;	
            }
            .header .menu > .menu-item > a .plus:before, 
            .header .menu > .menu-item > a .plus:after{
                background-color: white;
            }
            .header .menu > .menu-item-has-children.active > a .plus:after{
                transform: translate(-50%,-50%) rotate(0deg);
            }
            .header .menu > .menu-item > .sub-menu{
                width: 100%;
                position: relative;
                opacity: 1;
                visibility: visible;
                border:none;
                background-color: transparent;
                box-shadow: none;
                transform: translateY(0px);
                padding: 0px;
                left: auto;
                top:auto;
                max-height: 0;
                overflow: hidden;
            }
            .header .menu > .menu-item > .sub-menu > .menu-item > a{
                padding: 12px 45px;
                color: #ffffff;
                border-bottom: 1px solid #333333;
            }
            .header .close-nav-menu,
            .header .open-nav-menu{
                display: flex;
            }
        }

        /* FOOTER CSS  */

        .footer-links{
            color: #0190f6;
        }
        
        .footer-hover{
            transition: transform 0.3s ease-in-out;
        }
        
        .footer-hover:hover{
            color: #0190f6;
            transform: translateY(-3px);
            transition: transform 0.3s ease-in-out;
            font-weight: bold;
        }

        /* SECTION 2.0 CSS  */

        .section2 .justify-content-center{
            margin-top: 100px;
        }

        :root {
            --primary-color: #0190f6;
        }

        .my-4 {
            font-size: 55px;
        }

        .my-4 span{
            color: #ff8800;
            font-family: 'Dancing Script';
        }

        /* SCROLL CSS  */

        /* Scrolling of all pages */
        .scroll {
            overflow: hidden;
            width: 100%;
            font-family: 'Dancing Script';
            margin-top: 50px;
        }

        .scroll .scrolling-content {
            display: flex;
            white-space: nowrap;
            animation: scrolling-animation 20s linear infinite;
        }

        @keyframes scrolling-animation {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

        .scroll .scrolling-img {
            display: inline-block;
            padding: 10px 20px;
            margin: 0 10px;
           
            color: rgb(119, 119, 119);
            border-radius: 10px;
        }

        /* Repeat the content for infinite scroll */
        .scroll .scrolling-content::after {
            content: "";
            display: inline-block;
            width: 100%;
        }

        .box {
            text-align: center;
        }